@import "tailwindcss";

:root {
  --color-primary: #000000;  
  --color-secondary: #1b6bfe; 
  --color-tertiary: #FF6b6b; 
  --color-reddish: #F31E1E;
 --color-paragraph: #4b4b4b;

  --background: #ffffff;
  --foreground: var(--color-primary);
}

/* ===== Fonts ===== */
body {
  font-family: var(--font-liber-local), sans-serif; /* Liber is default */
  background-color: var(--background);
  color: var(--foreground); /* default text color */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Headings use Gendy */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-gendy), sans-serif;
}

/* Utility classes for fonts */
.font-gendy {
  font-family: var(--font-gendy), sans-serif;
}
.font-liber {
  font-family: var(--font-liber-local), sans-serif;
}

/* Text color utilities */
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-paragraph {
  color: var(--color-paragraph);
}
.text-reddish{
  color:var(--color-reddish)
}

/* Background color utilities */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.bg-paragraph {
  background-color: var(--color-paragraph);
}
.bg-background {
  background-color: var(--background);
}
.bg-foreground {
  background-color: var(--foreground);
}
